.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(167, 165, 165);
  width: 17px;
  height: 17px;
  margin-left: -1px;
  margin-bottom: -1px;
  border-radius: 3px;
  cursor: pointer;
  color: transparent;
  font-size: 12px;

  &:hover {
    background-color: rgb(86, 231, 141);
  }
}

.alive {
  background-color: rgb(52, 204, 110);
}
.dead {
  background-color: rgb(231, 231, 231);
}
