.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(168, 168, 168);
  width: 16px;
  height: 16px;
  margin-left: -1px;
  margin-bottom: -1px;
  border-radius: 2px;
  cursor: pointer;
  color: transparent;
  font-size: 11px;

  &:hover {
    background-color: rgb(142, 248, 182);
  }
}

.alive {
  background-color: rgb(37, 201, 64);
}
.dead {
  background-color: #fff;
}
