.cell {
  display: inline-block;
  border: 1px solid rgb(165, 164, 164);
  width: 15px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
}

.alive {
  background-color: greenyellow;
}
.dead {
  background-color: rgb(231, 231, 231);
}
