.commands {
  text-align: center;
  margin-top: 30px;

  button {
    margin: 0 20px;
    &:hover {
      color: #fff;
      background-color: rgb(46, 45, 45);
    }
  }

  .select-form {
    background-color: #e0e0e0;
    width: 100px;
    padding: 0 5px 5px 5px;
    border-radius: 5px;

    label {
      font-size: 18px;
      padding: 3px 0 0 5px;
    }
  }
}
