.commands {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(17, 17, 17, 0.9);
  padding: 15px 5px 50px 5px;
  border-bottom-right-radius: 120px;
  border-bottom-left-radius: 120px;
  border: 2px solid rgb(114, 184, 231);
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;

  button {
    &:hover {
      color: #fff;
      background-color: rgb(46, 45, 45);
    }
  }

  .select-form {
    background-color: #e0e0e0;
    padding: 0 5px 5px 5px;
    border-radius: 5px;

    label {
      font-size: 18px;
      padding: 3px 0 0 5px;
    }
  }

  @media (max-width: 900px) {
    border-radius: 0;
  }

  @media (max-width: 700px) {
    button {
      font-size: 13px;
      padding: 3px;
    }
  }
}
