.info-modal {
  button {
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

.react-responsive-modal-modal {
  color: #111;

  h2 {
    text-decoration: underline;
    text-align: center;
  }

  span {
    border: 1px solid rgb(168, 168, 168);
    padding: 0 4px;
    border-radius: 2px;
  }

  #died {
    margin: 30px 0 10px 0;
    span {
      color: red;
    }
  }

  #alive {
    span {
      background-color: rgb(37, 201, 64);
      color: green;
    }
  }
}

@keyframes customEnterAnimation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes customLeaveAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
