#speed-num {
  font-weight: bold;
  color: yellow;
  letter-spacing: 1px;
}
.MuiSlider-thumb span span span {
  color: black;
}

.makeStyles-margin-2 {
  height: 0 !important;
}

.MuiTypography-root {
  margin-bottom: 10px !important;
}
